:root {
  --maincolor: #ff0029;
  --subcolor: #ffffff;
  --textcolor:#333;
  --fontmain: "Roboto", sans-serif;
}
*{
  margin: 0px;
  padding: 0px;
}
html,
body {

  font-family: var(--fontmain);
  
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  line-height: 1.5;
  color: #303030;
  font-weight: 400;
 

}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal;
  font-weight: 700;

}

a {
  text-decoration: none;
  color: currentColor;
}

b,
strong {
  font-weight: 700;
  font-family: var(--fontmain);
  
}

img {
  border: none;
  max-width: 100%;
  vertical-align: middle;
}

a img {
  display: block;
}

#page {
  background: #fff;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.c,
.c5,
.c10,
.c15,
.c20,
.c30,
.c3,
.c2,
.c80 {
  clear: both;
}

.c {
  height: 0px;
}

.c3 {
  height: 3px;
}

.c4 {
  height: 4px;
}

.c5 {
  height: 5px;
}

.c10 {
  height: 10px;
}

.c15 {
  height: 15px;
}

.c20 {
  height: 20px;
}

.c30 {
  height: 30px;
}

.c50 {
  height: 50px;
}
.text-line-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.text-line-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.text-line-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.text-line-4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.text-line-5 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.text-line-6 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.text-line-7 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}

.text-line-8 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
}

.text-line-10 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}

.text-line-12 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 12;
  -webkit-box-orient: vertical;
}
.lang {
  padding: 10px;

  display: flex;
  justify-content: flex-end;
}
.vi {
  background-image: url(../images/flag-vi.png);
  display: inline-block;
  width: 30px;
  height: 20px;
  background-position: center center;
  text-indent: -9999px;
  border-radius: 2px;
  margin-right: 5px;
}
.en {
  background-image: url(../images/flag-en.png);
  display: inline-block;
  width: 30px;
  height: 20px;
  background-position: center center;
  text-indent: -9999em;
  border-radius: 2px;
}
.search-pc {
  display: block;

  margin-left: 10px;
}

.closeX
{
  color: #FFF;
  font-weight: bold;
  position: absolute;
  top: -50px;
  
}


#searchform
{
  position: relative;
}

#searchform input{

  color: #0a0a0a;
  border: 1px solid #FFF;
  height: 35px;
  border-radius: 5px;
  max-width: 100px;
  padding: 3px 5px;
}
.search-icon{
  color: #FFF;
}
.search-mobile {
  width: 100%;
  position: relative;
  display: none;
}

#searchform input::placeholder
{
  color: #4e4e4e;
  font-family: var(--fontmain);
  font-size:14px;
  
}


input:focus-visible, select:focus-visible{
  border:1px solid #a0a0a0
}
.btn-search {
  /* background: var(--maincolor); */
  color: #878787;
  /* width: 100%; */
  padding: 8px;
  height: 32px;
  text-align: center;
  font-size: 14px;
  /* line-height: 1.4; */
  position: absolute;
  right: 0px;
  top: 0px;
}
 
.search-mobile input {
  width: 100%;
  height: 30px;
}

.m-search-icon {
  position: absolute;
  right: 10px;
  top: 6px;
  color: #ef5994;
}
.topleft_menu {
  display: flex;
  list-style-type: none;
  padding: 0px;
  justify-content: flex-start;
  margin: 0;
  font-weight: 500;
  font-size: 15px;
}
.topright_menu {
  display: flex;
  list-style-type: none;
  padding: 0px;
  justify-content: flex-end;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  margin-right: 20px;
}
.topleft_menu li, .topright_menu{
  padding: 15px 10px 10px;
  color: #FFF;
  text-transform: uppercase;
}
.header {
  background: transparent;
 
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 11;
  width: 100%;
  transition: all .5s ease-in-out;
}



.logo {
   margin: auto;
    padding: 15px 0;
    max-width: 150px;
}

.logo img,
.logo-mobile img {
  display: block;
}

.logo-mobile {
  float: left;
  margin-left: 10px;
  margin-top: 5px;
}

.menubar {

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.top-hotline
{
  font-size: 15px;
  color: #FFF;
  font-weight: 500;
}


.nav {
  padding: 0px;
  margin: 0px;
  font-weight: normal;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.nav>li {
  list-style: none;
  display: inline-block;

  float: left;
  font-size: 16px;
  font-weight: normal;
  height: 65px;
  line-height: 65px;
  margin: 0px 2px;
}

.nav li:first-child {
  border-left: none;
}

.nav li:last-child {
  margin-right: 0;
}


.nav>li>a {
  text-decoration: none;
  color: #FFF;
  display: inherit;
  padding: 0px;
  padding: 0 30px;
  font-size: 20px;
  font-family: var(--fontmain);
  font-weight: 600;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  transition:all .5s ease-in-out
}
.nav>li>a::before
{
 
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 0px;
    height: 4px;
    background-color: #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.nav>li:hover>a::before{
  width: 90%;
  background-color: var(--maincolor);
 
}

.nav>li>a img {
  margin-right: 8px;
}

.nav li ul {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0px);
  width: 250px;
  text-align: center;
  padding: 0px;
  
  z-index: 9;
  display: none;
  font-weight: normal;
  background: #FFF;
  text-transform: initial;
 ;

}

.nav li ul>li {
  width: 100%;
  list-style: none;
  float: left;
  text-align: left;
  border: none !important;
  text-transform: initial;
  line-height: normal;
  position: relative;
}

.nav li ul>li a {
  padding: 0px 10px;
  display: block;
  color: #232323;
  line-height: 18px;
  text-transform: initial;
  padding: 11px 10px;
  font-weight: 600;

}

.nav>li>ul>li>a:hover {
  color:#333!important;
}

.nav li ul ul {
  left: 100%;
  top: -1px;
}


.mega-menu {
  width: 100% !important;
 
  
  background: rgba(0, 0, 0, 0.8) !important;
  padding: 10px 0px !important;
}

nav ul li .mega-menu-item {
  padding: 10px 0px;
  line-height: initial !important;
  border-bottom: solid 1px #0a0a0a;

}
.mega-menu-item {
  text-align: left;
  line-height: 1.5;
  padding: 15px 10px;
}
.mega-menu-item a {
  color: #FFF;
  text-transform: uppercase;
  font-weight: 600;
  transition: all .5s ease;

  text-align: left;
  line-height: 1.3;
}

.mega-menu-item:hover a {
  color: var(--maincolor);

}

.mega-menu-item-link:hover {}

.mobile-bar {
  background-color: #fff;
  width: 100%;
  padding: 3px;
}

.lang-flag {
  float: right;
  /* margin-top: 2px; */
  border: none;
  margin-left: 15px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
}
.burger
{
	width:60px;
	float:right;
}
.burger div {
    width: 40px;
    height: 3px;
    margin-bottom: 10px;
    background: var(--maincolor);
	float:right;
}
.crumb {
	background:#f1f2f2;

  padding: 5px 0px;
  font-size: 12px;


}

.crumb-gray .crumb {
  background-color: #f5f5f5;
}

.crumb a {
  font-size: 14px;
  line-height: 24px;
  color:var(--maincolor);
  font-weight: 400;

  text-align: center;
}

.crumb a:first-child {
  padding-left: 0;
}

.crumb a:last-of-type {
  color:var(--maincolor);
  padding-left: 10px;
  font-weight: 700;
} 


/*  */

.menuleft {
  padding: 0px;
  margin: 0px;
  color: #58595b;
  background: #E5F1EE;
  border: solid 1px #eee;
}
.menuleft .title{
  background: var(--subcolor);
  color: #FFF;
  padding: 10px 15px;
  font-size: 17px;
 font-family: var(--fontmain);

 
}
.menuleft .fa {
  font-size: 10px; float: right;
}

.menuleft ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.menuleft li {
  list-style: none;
  margin: 0px;
  padding: 0px;
  border-bottom: solid 1px #eee;
}

.menuleft li:last-child {
  border-bottom: none;
}

.menuleft li a:hover {
  color: var(--subcolor);
}

.menuleft li a {
  color: #0a0a0a;
  padding: 10px;
  width: 100%;
  display: block;
  font-size: 15px;
 font-family: var(--fontmain);

}

.menuleft>.actived {
  background: #eee;
}

.menuleft>.actived>a {
  color: #0a0a0a;
  font-family: var(--fontmain);
}

.menuleft .actived ul {
  background: #eee;
  display: block;
}

.menuleft .actived .actived a {
  color: #244294;
}

.menuleft li ul {
  margin: 0px;
  padding: 0px;
  padding-left: 35px;
  background: #eee;
  display: none;
}

.menuleft li ul li {
  padding-left: 0px;
  list-style-type: square;
}

.menuleft li ul li a {
  border-bottom: none;
  padding: 8px 0px;
  font-size: 14px;
  color: #0a0a0a;
}

.menuleft-icon {
  padding-right: 8px;
}



#button-btt {
  position: fixed;
  right: 10px;
  bottom: 70px;
  color: #0059bd;
  background: #ccc;
  padding: 10px;
  opacity: 0.8;
  z-index: 10;
}

#button-btt a {
  color: #fff;
}

.view-detail {
  display: block;
  color: #fff;
  background: #244294;
  padding: 10px 30px;
  box-shadow: 0px 0px 3px #999;
  float: left;
}





.menutab {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  border-bottom: 2px solid #e4e4e4;
      
	      padding-bottom: 8px;
}

.menutab-item {

  
  text-align: center;
  background-color: transparent;
  color: #fff;
  font-weight: 600;
  border: 2px solid transparent;
	position:relative;

}

.menutab-item.active
{
	width:100%;
}
.menutab-item:nth-child(1)
{
padding-left: 0px;
}
.menutab-item a {
  
  font-size: 18px;
line-height: 20px;
text-transform: uppercase;
color: #474747;
font-weight: 700;
transition: all .5s ease-in;
    padding: 15px 15px;
position:relative;

}
.menutab-item a:before
{
	content:"";
	width:0%;
	height:1px;
	background:--var(maincolor);
	position:absolute;
	bottom:0px;
	left:0px;
	
}

.menutab-item.actived a:before
{
	content:"";
	width:100%;
	height:1px;
	background:--var(maincolor);
	position:absolute;
	bottom:0px;
	left:0px;
	
}



.tab-item:last-child {
  border-right: none;
}

.menutab-item:hover :before {
	width:100%
}
.menutab-item a:hover :before
.menutab .actived :before {
	width:100%

}


.tab-bar {
  /* background: #e1e1e1; */
  position: relative;
  display: flex;
  align-items: center;
}

.tab-bar-wrapper {
  padding-right: 40px;
}

.tab-title {
  margin: 0px;
  font-weight: 700;
  font-size: 16px;
  color: #484848;
  text-transform: uppercase;
  padding: 10px 0 26px;
  display: block;
  float: left;
}

.tab-title:nth-child(2) {
  padding: 10px 40px 26px;
}



.tab-active {
  position: relative;
  color: #ffa200;
}

.tab-active::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #ffa200;
  border: solid 1px #ffa200;
  left: 0;
}

.tab-bar::before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #176078;
  border: solid 1px #176078;

}
#tabs-nav
{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0px;
}
#tabs-nav li{

  list-style: none;
  text-align: center;
  color: var(--subcolor);
  margin: 5px;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #FFF;
}
#tabs-nav li.active a{
  color: var(--subcolor);
 font-family: var(--fontmain);

}


/*Modal*/
.blocker
{
	z-index:111!important;
}
.modal
{
	    max-width: 100%!important;
    padding: 0px!important;
	border-radius:20px!important;
}
.modal a.close-modal, .modal-close
{
	opacity:0;
	display:none;
}
.modal-overlay {
  opacity: 0;
  filter: alpha(opacity=0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6) !important;
}
.modal-box {
  display: none;
  position: fixed;
  z-index: 1404040;
  width: 60%;
  border-bottom: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
  max-width: 1100px;
  background: #fff;
}

.modal-box header,
.modal-box .modal-header {
  padding: 1.25em 1.5px;
  border-bottom: 1px solid #ddd;
}

.modal-box header h3,
.modal-box header h4,
.modal-box .modal-header h3,
.modal-box .modal-header h4 {
  margin: 0;
}

.modal-box .modal-body {
  padding: 10px 20px;
}

.modal-box footer,
.modal-box .modal-footer {
  padding: 1px;
  border-top: 1px solid #ddd;
  background: rgba(0, 0, 0, 0.02);
  text-align: right;
  padding: 8px;
}

a.close {
  line-height: 1;
  font-size: 1.5px;
  position: absolute;
  top: 5%;
  right: 2%;
  text-decoration: none;
  color: #bbb;
}

a.close:hover {
  color: #222;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  transition: color 1s ease;
}

.msgbox {
  color: #ccc;
}
.img-shine {
  position: relative;
  overflow: hidden;
  display: block;
}

.img-shine:after {
  content: "";
  position: absolute;
  top: -50%;
  left: -60%;
  width: 20%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0) 100%
  );
}

/* Hover state - trigger effect */
.img-shine:hover:after {
  opacity: 1;
  left: 130%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}
.error {
  border: solid 1px red!important;
}

.btn {
  padding: 8px 15px;
  color: #222;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition: background-color 1s ease;
  -moz-transition: background-color 1s ease;
  transition: background-color 1s ease;
 
}

.btn:hover {
  background-color: #ff7e00;
  color: #fff;
  -webkit-transition: background-color 1s ease;
  -moz-transition: background-color 1s ease;
  transition: background-color 1s ease;
}
/* Active state */
.img-shine:active:after {
  opacity: 0;
}


.menu-mobile {
  display: block;
  float: right;
  color: #000;
  font-size: 30px;
  margin-left: auto;
}

.menu-mobile-item {
  display: block;
  float: left;
  margin-top: 5px;
  color: #fff;
  margin-left: 10px;
}

#simplePagerNav {
  display: flex;
  justify-content: center;
} 

.pagination {
  margin-bottom: 30px;
 display:flex;
 justify-content:center;
}
.page {
  display: none;
}
.pagination-item {
      text-decoration: none;
    color: #0a0a0a;
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    min-width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    background-color: #FFF;
    margin: 0 5px;
    border: 2px solid #b3b3b3;
  
}


.pagination-item__clicked {
  text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    min-width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    background-color:var(--maincolor);
    margin: 0 5px;
    border: 2px solid #b3b3b3;
  
}

.pagination-item-icon {
  font-size: 20px;
  font-weight: 500;
  color: #176078;
}




.ullist {
  height: 450px;
  overflow-y: scroll;
}

.ullist li h3 {
  padding: 0px;
  margin: 0px;
  margin-top: 5px;
  color: #244294;
  font-size: 16px;
}

.ullist li p {
  margin: 0px;
  padding: 5px 0px;
}

.ullist li {
  border-bottom: dashed 1px #ddd;
}

.ullist li .fa {
  display: block;
  float: left;
  width: 18px;
  margin-top: 2px;
}

#loadMoreProduct {
  display: block;
  background: #ddd;
  color: #244294;
  padding: 10px 20px;
  text-align: center;
  margin: 0 auto;
  border-radius: 5px;
  width: 220px;
}


.form-title {
  font-family: var(--fontmain);
  font-size: 24px;
  font-weight: normal;

  text-align: center;
  width: 100%;
}


.sendmail__btn {
  background:var(--maincolor);
  text-align: center;
  padding: 15px;
  width: 100%;
  border: none;
  border-radius: 5px;
  color: #FFF;
  text-transform: uppercase;
  display: block;
  font-size: 18px;
      height: 50px;
}



::placeholder {
  color: #f1f2f2;
  opacity: 1;
  /* Firefox */
}


.view-more {
  font-weight: normal;
  display: inline-block;
  color: #fff;
  font-size: 14px;
  font-family: 'Muli-L';
  margin-top: 25px;
  background-color: #1d509b;
  padding: 10px 20px;
}
.line{
	border-bottom:1px solid #037c94;
}


.line-w {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.line-w span {
  display: inline-block;
  margin-right: 5px;
  background: var(--subcolor);
  background-repeat: no-repeat;
  background-size: 90% 90%;
  width: 100px;
  height: 3px;
  margin-top: 10px;
}

.line-w span:last-child {
  margin-right: 0;
}


.Tocct {
       border: 1px solidvar(--maincolor);
    margin-top: 30px;
    border-radius: 25px;
    max-width: 100%;
    padding: 25px;
    position: relative;
}
.longPageTOC {
    font-size: 20px;
    background: #fff;
    font-weight: 700;
    text-transform: uppercase;
}
.TOCShowHide.hideTOC {
    position: absolute;
    right: 15px;
    top: 5px;
    color: #00b8ce;
}
.longPageNavigationDiv {
  padding: 10px;
 
  
  
  padding-right: 20px;
  width: 100%;
}

.longPageNavigationDiv a {
  color: #0a0a0a;
}

.longPageNavigationDiv ul {
  padding-left: 20px;
}

.longPageNavigationDiv ul li {
  list-style: none;
  padding: 2px 0px;
}

.longPageNavigationDiv ul .toc-heading3 {
  padding-left: 20px;
}

.form-group {
  padding: 10px 0px;
  border-bottom: dotted 1px #ccc;
}
.btndangnhap
{
  background-color:var(--maincolor);
color:#FFF;
padding: 8px 15px;
border-radius: 3px;
font-size: 18px;
}




/* home */
  .slidehome{
    position: relative;
  }
  .slidehome-content{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    color: #303030;
    animation: btom-to-top 3s ;
    animation-iteration-count: 1;
    animation-direction: reverse;
	font-size: 20px;
	color: #303030;
	font-weight: 500;
	font-family: "Bai Jamjuree";
  }
  .search-form {
    position: relative;
    padding: 30px;
    background: #FFF;
    border-radius: 20px;
    box-shadow: 1px 5px 9px #0000002e;
}
.search-mobile-bar {
  float: right;
  width: 200px;
  position: relative;
  margin-right: 10px;
  margin-top: 5px;
}

.search-mobile-bar .kw {
  width: 100%;
  height: 30px;
  border: solid 1px #eee;
  padding: 0px 10px;
  outline: none;
  float: left;
  color: #0a0a0a;
  border-radius: 25px;
  background: #fff;
}

.submit-search-mobile {
  float: right;
  color:var(--maincolor);
  font-size: 14px;
  position: absolute;
  top: 8px;
  right: 25px;
}
.header-mobile {
  background: #fff;
  border-bottom: solid 2px #2c9fcb;
}

.cart-mobile {
  position: relative;
  margin-right: 10px;
  margin-top: 10px;
  width: 40px;
  float: right;
}

.cart-mobile span {
  position: absolute;
  right: -5px;
  top: -5px;
  font-size: 11px;
  background: #244294;
  color: #fff;
  display: block;
  padding: 1px 4px;
  border-radius: 50%;
}

.kw-mobile {
  width: 94%;
  height: 30px;
  border: none;
  border-radius: 20px;
  margin: 0px 10px;
  margin-bottom: 0px;
  color: #0a0a0a;
  padding-left: 5px;
}

.mobile-footer-bar {
  position: fixed;
  bottom: 0px;
  padding: 5px;
  width: 100%;
  background: #fff;
  box-shadow: 0px -1px 3px #244294;
  z-index: 9999;
}
 .btn-xemthem
 {
  text-align: center;
  padding:10px 25px;


  background-color:var(--maincolor);
  font-size: 20px;
line-height: 20px;
color: #ffffff;
font-weight: 500;
font-family: "Bai Jamjuree";
 }
 .btn-all
 {
	 text-align: center;
  padding:10px 25px;



  font-size: 20px;
line-height: 20px;
color: #030303;
border:1px solidvar(--maincolor);
font-weight: 500;

 }

.slidehome-content h1{
  font-size: 38px;
  text-transform: uppercase;
  color:var(--maincolor);
  font-weight: 700;
  font-family: var(--fontmain);
}
.home-title
{
  font-size: 40px;
  color: #FFF;
  text-transform: uppercase;
  margin-bottom: 0;
  text-align: left;
  font-weight: 700;

}
  .homecat-title{
    font-size: 40px;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 0;
    text-align: center;
    font-weight: 700;
    display: table;
    margin: auto;
}
.homecat-title::after {
  content: "";
  display: block;
  width: 80px;
  height: 2px;
  background: #7f7f7f;
  margin: 45px auto 0;
}
 
  .homecat-intro
  {
    margin: auto;
    text-align: center;
    max-width: 800px;
  }
  .pagecat-title{
    text-align: left;
    color: #282828;
   font-family: var(--fontmain);


    position: relative;
    font-size: 35px;
    text-transform: uppercase;
    margin: 0px;
    line-height: 1.3;
  }

  .homecat-title a, .pagecat-title a {
    color: currentColor;
  }
  

.menu-footer {
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  padding: 10px 0px;
}

.menu-footer a {
  font-size: 13px;
  color: #FFF;
  margin-right: 20px;
  text-decoration: none;
}

.footer {
  background-color: #efefef;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  color: #a0a0a0;
}
.logo-footer
{
  max-width: 150px;
  margin: auto;
}


.text-center{
  margin: auto;
  text-align: center;
}


.footer-block {
  padding-left: 0px;
  margin-top: 20px;
}
.footer-logo
{
  padding: 30px 0px;
}
.footer-block .info
{
 
    display: flex;
    align-items: center;
 
    font-size: 18px;
    /* margin-bottom: 10px; */
    line-height: 2;
}
.footer-block .info i
{
  margin-right: 10px;
}
.footer-social
{
  display: flex;
  align-items: center;
  justify-content: center;

}
.footer-social li{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  border: 1px solid #FFF;
  line-height: 40px;
  margin: 10px;
}
.menuboxfooter
{
  padding: 0px;
  list-style-type: none;
  font-size:20px
}
.menuboxfooter li{
  margin-bottom: 5px;
}
.menuboxfooter a{
  color: #FFF;
  transition: all .5s ease-in;
}
.footer-title {
  font-size: 17px;
  color: #FFF;
  font-family: var(--fontmain);;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.menuboxfooter a:hover{
  color: var(--subcolor);
}
.footer-copyright {
  color: #727272;
  font-size: 14px;
  text-align: left;
  line-height: 40px;
  line-height: 1;
  margin-top: 30px;

}
.star-rate{
  background: url(/images/starrate.png) right top no-repeat;
     height: 30px;
  width: 100%;
background-size: auto;
}
.rate1
{
	 background-position-y: -116px;
}
 .rate2{
  background-position-y: -86px;
}
.rate3{
  background-position-y: -58px;
}
.rate4{
  background-position-y: -30px;
}
.rate5{
  background-position-y: 0px;
}
.img-poster
{
  position: relative;
}
.img-poster img {
  display: block;
}
.poster-content {
  position: absolute;
  width: 100%;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -20%);
  text-align: center;
}
.frm-contact input{
	width:100%;
	padding:15px;
	border:1px solid #9c9c9c;
	margin-bottom:30px
}
.frm-contact input.btn-contact
{
	background:var(--maincolor);
	color:#FFF;
	
	text-transform:uppercase
}
.line-title {
    font-weight: 600;
}
.featured-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.featured-item-img {
  width: 40%;
}
.featured-item-content {
  width: 60%;
  overflow: hidden;
  padding-left: 10px;
  line-height: 1.4;
}
.featured-item-name
{
  font-weight: 700;
}
.featured-item-img img{
  border-radius: 5px;
}
.slide-btn-next
{
    position: absolute;
    right: -15px;
    top: 50%;
    width: 45px;
    height: 45px;
    transform: translate(0px,-50%);
    line-height: 45px;
    background-color: var(--maincolor);
    border-radius: 50%;
    text-align: center;
    z-index: 2;

}
.slide-btn-prev
{
    position: absolute;
    left: -5px;
    top: 50%;
    width: 45px;
    height: 45px;
    transform: translate(0px,-50%);
    line-height: 45px;
    background-color: var(--maincolor);
    border-radius: 50%;
    text-align: center;
    z-index: 2;

}
/* home */
.homenews
{
  position: relative;
}
.whyus-item
{
  background-color: #f1f2f2;
  outline-offset: -10px;
  outline: 1px solid #fff;
  height: 100%;
  padding: 30px;
}
.whyus-name
{
  text-transform: uppercase;
  font-weight: 500;
}
.catproduct-item__name
{
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
}
.catproduct-item:hover .catproduct-item__name{
  color: var(--maincolor);
}
.catproduct-button-next, .catproduct-button-prev
{
  background-color: transparent;
  color: var(--maincolor);
  font-size: 30px;
  display: none;
  transition:all .5s ease;
}
.homecat-product:hover .catproduct-button-next,
.homecat-product:hover .catproduct-button-prev{
display: block;
}
.homeproduct
{
  position: relative;
}
.homeproduct-wrapper
{
  background: url(/uploaded/images/Banner/banner\ blur6.jpg) no-repeat bottom center;
}

.scale-img {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  position: relative;
}
.scale-img img {
  transition: 0.5s all ease-in-out;
  width: 100%;
  height: 100%;
}

.scale-img:hover img {
  transform: scale(1.2);
}
.homeproduct-name{
  padding: 10px 0px;
}
.homeproduct-name a{
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
}
.slide-product-prev
{
  background-color: transparent;
  left: -70px;
}
.slide-product-next
{
  background-color: transparent;
  right: -70px;
}

.homeproduct-link a {
  position: absolute;
  display: flex;
  right: 0;
  bottom: 0;
  width: 200px;
  height: 110px;
  background: #0404049c;
  transition: all 0.3s ease;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 400;
  z-index: 1;
  text-align: left;
}

.homeproduct-link a span {
  display: inline-block;
  width: 28px;
  height: 1px;
  font-size: 30px;
  position: relative;
  margin-left: 10px;
  top: -3px;
  transition: all 0.5s ease;
  left: 0;
}
.homeproduct-link a:hover span{
  left: 10px;
}

.homeproduct-link a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: transparent;
  transition: all 0.3s ease;
}

.homeproduct-link a:hover {
  background: none;
}

.homeproduct-link a:hover:after {
  top: 0;
  height: 100%;
  display: block;
  border: 1px solid #fff;
}

.homeproduct-link a:hover  {
  color: #fff;
}

.video_item_play a{
  text-align: center;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  width: 60px;
  height: 60px;

  background-color: transparent;
  border: 2px solid #FFF;
  border-radius: 50%;
  line-height: 60px;
  text-align: center;
}

.video_item_play i {
  font-size: 40px;
  line-height: 60px;
  color: #fff;
}
.slidevideo-item img
{
  border-radius: 5px;
}
.homevideo-name
{
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  color: #000;
}
.homevideo-name:hover{
  color: var(--maincolor);
}
.slidehomevideo-pagination {
  justify-content: center;
  display: flex;
  padding-top: 10px;
}
.slidehomevideo-pagination .swiper-pagination-bullet
{
  border-radius: 2px;
    width: 10px;
    height: 10px;
    background-color: #9d9d9d;
}
.slidehomevideo-pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #404040;
}
.homenews-wrapper
{
  background: url(/uploaded/images/Banner/banner\ 11\ \(1\).jpg) top center no-repeat;
  background-size: cover;
}
.homenews-item img
{
  max-height: 300px;
  width: 100%;
  object-fit: cover;
}
.homnews-date
{
  color: var(--maincolor);
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
}
.homnews-month
{
  font-weight: 600;
  line-height: 1;
  color: #FFF;
  margin-bottom: 10px;
}
.homenews-name
{
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 0px;
}
.customer__xemthem {
  color: #fff;
  font-style: italic;
  font-size: 11px;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.customer__xemthem:after {
  content: "";
  display: inline-block;
  width: 49px;
  height: 35px;
  border: 1px solid #cccccc96;
  position: absolute;
  left: 16px;
  border-radius: 0 20px 20px 0;
}

.customer__xemthem:before {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--maincolor);
  display: inline-block;
  margin-right: 1rem;
}
