<!doctype html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml"  xml:lang="vi">


    <head>
        <meta charset="utf-8" />
        <title>Page-name</title>
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
        <meta name="theme-color" content="#0099ff" />

        <meta http-equiv="Content-Language" content="VN" />
        <meta name="description" content="Page-name" />
        <meta name="keywords" content="" />
        <meta property="og:url" name="og:url" content="" data-app/>
        <meta property="og:type" name="og:type" content="website" data-app/>
        <meta property="og:description" name="og:description" content="Page-name" data-app/>
        <meta property="og:title" name="og:title" content="Page-name" data-app/>

        <meta property="og:image" name="og:image" content="/uploaded/logo/logo.png" data-app>
        <meta property="og:image:alt" name="og:image:alt" content="/uploaded/logo/logo.png" data-app>
        <link href="/favicon.ico" rel="shortcut icon" />        

     
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/hover.css" />

        <link rel="stylesheet" type="text/css" href="/css/grid.css" />
        <link rel="stylesheet" type="text/css" href="/css/responsive.css" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.2/css/swiper.min.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="/css/fontawesome-5.12.1/css/all.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/jquery.mmenu.all.css" />
        <link rel="stylesheet" href="/css/jquery-ui.css" />
        <link rel="stylesheet" href="/css/animate.css" />

        <link rel="stylesheet" href="/css/jquery.fancybox.css" />
        <link rel="stylesheet" href="/css/hover.css" />
        <script src="/js/jquery-1.10.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.2/js/swiper.min.js"></script>

        

        

    </head>    


<body>



<div id="page">


    <!-- header pc -->
  
    <header class="header hide-on-pad hide-on-tab">
      <div class="topheader">
        <div class="grid">
          <div class="flex-container">
              <div class="cell-1-3 d-flex flex-flex-start">
                <ul class="topleft_menu">
                  <li>
                      <a href="/tuyen-dung/">
                          Giới thiệu
                      </a>
                  </li>
                  <li>
                      <a href="/doi-tac/">
                          Tin tức
                      </a>
                  </li>
                  <li>
                      <a href="/video/">
                          Video
                      </a>
                  </li>
                
                </ul>
              </div>
              <div class="cell-1-3 tab-cell-1-1">
                <div class="d-flex flex-flex-end align-center">
                  <ul class="topright_menu">
                    <li>
                        <a href="/tuyen-dung/">
                            Liên hệ
                        </a>
                    </li>
                    </ul>
                    <div class="top-hotline">
                      <a href="tel: 1900 8129">  1900 8129</a>
                    </div>
                    <div class="lang">
                      <a href="#" class="vi"></a>
                      <a href="#" class="en"></a>
                    </div>
                    <form id="searchform" method="get" action="/search/" class="header__search"> 
                      <div class="header__search-input-wrap">
                          <input class="header__search-input keysearch" type="text" name="qr" placeholder="Tìm kiếm" autocomplete="off">
                              <ul class="searchresult" style="display: none;"></ul>
                      </div>
                      <a class="btn-search" onclick="$('#searchform').submit(); return false;" href="#">
                          <i class="fa fa-search" aria-hidden="true"></i>
                      </a>
                  </form>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="grid">
        
        <div class="flex-container flex-centered">
          <div class="cell-1-1">
            <div class="logo">
              <a href="/">
                <img src="/uploaded/images/Logo web/RB_logo-ENG.png" alt="LogoSite"></a>
            </div>
          </div>
           <div class="cell-1-1">
            <div class="menubar">
               <ul class="nav  hide-on-mobile">
                  <li class=" active ">
                    <a href="/" class=""><span style="background-image:url()"> Sản phẩm      </span> </a>
                    <ul class="mega-menu">
                      <div class="c20"></div>
                      <div class="grid">
                        
                       <div class="d-flex">
                        <div class="cell-1-4"> 
                          <div class="mega-menu-item">
                            <a class="mega-menu-item-link" href="/ve-chung-toi/">Về chúng tôi</a>
                          </div>
                        </div>
                        <div class="cell-1-4"> 
                          <div class="mega-menu-item"> 
        
                            <a class="mega-menu-item-link" href="/tam-nhin-su-menh/">Tầm nhìn sứ mệnh</a>
                          </div>
                        </div>
                        <div class="cell-1-4"> 
                          <div class="mega-menu-item"> 
    
                            <a class="mega-menu-item-link" href="/gia-tri-cot-loi/">Giá trị cốt lõi</a>
                          </div>
                        </div>
                        <div class="cell-1-4"> 
                          <div class="mega-menu-item"> 
                            <a class="mega-menu-item-link" href="/co-cau-to-chuc/">Cơ cấu tổ chức</a>
                          </div>
                        </div>
                        <div class="cell-1-4"> 
                          <div class="mega-menu-item"> 
          
                            <a class="mega-menu-item-link" href="/chung-nhan-giai-thuong/">Chứng nhận & Giải thưởng</a>
                          </div>
                        </div>
                        <div class="cell-1-4"> 
                          <div class="mega-menu-item"> 
                            
                            <a class="mega-menu-item-link" href="/tai-sao-nen-chon-chung-toi-1/">Tại sao nên chọn chúng tôi </a>
                          </div>
                        </div>
                      </div>
                      
                      </div>
                      
                    </ul>
                
                
                  </li>
                  <li class=" ">
                    <a href="/" class="">
                      <span style="background-image:url()">Hỗ trợ khách hàng</span>
                    </a>
                      
                  </li>
                  <li class=" ">
                    <a href="/" class=""><span style="background-image:url()">Hệ thống đại lý   </span> </a>
                  </li>
                 
              </ul>
             
           </div>
          </div>
        </div>
      <div class="c"></div>
    </header>
    <!-- end header pc -->
    
    <!-- content -->
    <div class="content">
        <div class="img-poster">
            <img src="/uploaded/images/Banner/test gt3 (1).jpg" alt="">
        </div>
        <div class="info-wrapper">
            <div class="c30"></div>
            <div class="c20 hide-on-mobile"></div>
            <div class="grid">
                <div class="flex-container flex-centered">
                    <div class="cell-4-5 tab-cell-1-1 info-item">
                        <div class="pagecat-title text-center">
                            Giới thiệu
                        </div>
                        <div class="c10"></div>
                        <div class="sub-title text-center">
                            About us
                        </div>
                        <div class="c30"></div>
                        <div class="c10 hide-on-mobile"></div>
                        <div class="info-content">
                            <table align="center" border="0" cellpadding="20" cellspacing="1" style="width:700px">
                                <tbody>
                                    <tr>
                                        <td>
                                        <p style="text-align:justify"><span style="font-size:18px"><strong>&nbsp; RICHBORN</strong>&nbsp;là thương hiệu thiết bị gia dụng cao cấp thuộc Tập đoàn&nbsp;<strong>KOWON CORP - HÀN QUỐC</strong>&nbsp;có trụ sở tại:&nbsp;(06651) 1230-ho, LG Seocho Eclat, 71, Banpo-daero 14-gil, Seocho-gu, Seoul, Republic of Korea.<span style="font-family:Arial,Helvetica,sans-serif"><strong>&nbsp; &nbsp;</strong></span></span></p>
                            
                                        <p style="text-align:justify"><span style="font-size:18px"><span style="font-family:Arial,Helvetica,sans-serif"><strong>&nbsp; &nbsp;RICHBORN</strong> lấy nguồn&nbsp;cảm hứng từ chính không gian bếp, nơi khởi đầu và nuôi dưỡng tình thân của mỗi gia đình. Chúng tôi tin rằng không gian này không chỉ là nơi mang đến những món ăn đủ đầy&nbsp;hương vị mà còn là trái tim của mỗi tổ ấm hạnh phúc.</span></span></p>
                            
                                        <p style="text-align:justify"><span style="font-size:18px"><span style="font-family:Arial,Helvetica,sans-serif">&nbsp; &nbsp;Với sứ mệnh đặc biệt mang trên&nbsp;mình, <strong>RICHBORN</strong> không chỉ là một nhãn hiệu&nbsp;thiết bị gia dụng mà còn là người bạn đồng hành tận tâm, luôn nỗ lực chăm sóc và nuôi dưỡng trái tim ấy. </span></span></p>
                            
                                        <p style="text-align:justify"><span style="font-size:18px"><span style="font-family:Arial,Helvetica,sans-serif"><span style="line-height:107%">&nbsp; &nbsp;Chúng tôi đặt tâm huyết vào việc mang đến những công nghệ mới,&nbsp;tích hợp nhiều tính năng thông minh, thiết kế&nbsp;sang trọng&nbsp;trong từng sản phẩm, nhằm tối ưu hóa trải nghiệm sử dụng và góp phần tạo nên không gian sống hiện đại, tiện ích,&nbsp;ấm cúng cho mỗi thành viên trong gia&nbsp;đình.</span></span></span></p>
                            
                                        <p style="text-align:center"><span style="font-size:18px"><span style="font-family:Arial,Helvetica,sans-serif"><strong>RICHBORN – Chúng tôi yêu &amp; biết ơn bạn!</strong></span></span></p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="c30"></div>
                            <div class="c20 hide-on-mobile"></div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="c30"></div>
            <div class="c20 hide-on-mobile"></div>
            <div class="c30"></div>
            <div class="c20 hide-on-mobile"></div>
            <div class="c30"></div>
            <div class="c20 hide-on-mobile"></div>
        </div>
        <div class="c20 hide-on-mobile"></div>
        <div class="c30"></div>
        <div class="c20 hide-on-mobile"></div>
        <div class="c30"></div>
        <div class="c20 hide-on-mobile"></div>
        <div class="infotamnhin-wrapper">
            <div class="c30"></div>
            <div class="c20 hide-on-mobile"></div>
            <div class="c30"></div>
            <div class="grid">
                <div class="sub-title">
                    Vision & Direction
                </div>
                <div class="c10"></div>
                <div class="pagecat-title">
                    Tầm Nhìn & Định Hướng

                </div>
                <div class="c30"></div>
                <div class="c20 hide-on-mobile"></div>
                <div class="c30"></div>
                <div class="c20 hide-on-mobile"></div>
               <div class="flex-container">
                    <div class="cell-4-5 tab-cell-1-1">
                        <table align="left" border="0" cellpadding="20" cellspacing="1" style="width:750px">
                            <tbody>
                                <tr>
                                    <td>
                                    <p style="text-align:justify"><span style="color:#000000"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:18px">&nbsp; &nbsp;Tầm nhìn của <strong>RICHBORN</strong> là xây dựng một cộng đồng các gia đình đa quốc gia - nơi mà mỗi người có thể tận hưởng cuộc sống lan tỏa yêu thương hạnh phúc thông qua những sản phẩm chất lượng cao, dịch vụ chuyên nghiệp.&nbsp;Chúng tôi&nbsp;cam kết không ngừng&nbsp;nỗ lực nghiên cứu &amp; phát triển&nbsp;để mang đến những thiết bị ứng dụng công nghệ số, hội nhập xu hướng, đáp ứng nhanh chóng những thách thức của cuộc sống đương đại.</span></span></span></p>
                        
                                    <p style="text-align:justify"><span style="color:#000000"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:18px">&nbsp; &nbsp;Định hướng của <strong>RICHBORN</strong>&nbsp;là kiến tạo&nbsp;nhiều sản phẩm xuất sắc trong lĩnh vực thiết bị nhà bếp, và thiết lập mối quan hệ lâu dài, đồng hành chia sẻ cùng khách hàng những khoảnh khắc đặc biệt trong cuộc sống hàng ngày.</span></span></span></p>
                        
                                    <p style="text-align:justify"><span style="color:#000000"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:18px">&nbsp; &nbsp;Chúng tôi hy vọng&nbsp;mỗi sản phẩm của <strong>RICHBORN</strong> không chỉ dừng lại ở khái niệm vật chất mà còn là một phần giá trị tinh thần không thể thiếu trong&nbsp;câu chuyện hạnh phúc và thành công của mỗi gia đình.</span></span></span></p>
                        
                                    <p style="text-align:center">&nbsp;</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
               </div>
               
            </div>
          
        </div>
        <div class="infobrand-wrapper">
            <div class="c20 hide-on-mobile"></div>
            <div class="c30"></div>
            <div class="c20 hide-on-mobile"></div>
            <div class="c30"></div>
            <div class="c20 hide-on-mobile"></div>
            <div class="grid">
                <div class="logo">
                    <img src="/uploaded/images/Logo web/RB_logo-ENG.png" alt="">
                </div>
                <div class="c10"></div>
                <div class="pagesub-title text-center">
                    BRAND MEANING
                </div>
                <div class="c30"></div>
                <div class="flex-container">
                    <div class="cell-1-3 tab-cell-1-1 infbrand-item">
                        <div class="infobrand-item">
                            <div class="infobrand-content">
                                <div class="infobrand-title">
                                    Rich
                                </div>
                                <div class="infobrand-desc">
                                    <p><strong>RICH</strong> mang ý nghĩ là sự thịnh vượng, hay còn là đích đến của cuộc sống.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell-1-3 tab-cell-1-1 infbrand-item">
                        <div class="infobrand-item">
                            <div class="infobrand-content">
                                <div class="infobrand-title">
                                    Born
                                </div>
                                <div class="infobrand-desc">
                                    <p><strong>BORN</strong>  được hiểu là khởi đầu của cuộc sống, cũng là thời điểm tập hợp & phát triển nhiều năng lượng tích cực.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell-1-3 tab-cell-1-1 infbrand-item">
                        <div class="infobrand-item">
                            <div class="infobrand-content">
                                <div class="infobrand-title">
                                    Rich
                                </div>
                                <div class="infobrand-desc">
                                    <p><strong>RICH</strong> mang ý nghĩ là sự thịnh vượng, hay còn là đích đến của cuộc sống.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c30"></div>
                <div class="flex-container flex-centered"> 
                    <div class="cell-2-5 tab-cell-1-1">
                        <div class="pagesub-title text-center">
                            LOGO CONCEPT
                        </div>
                        <div class="c20"></div>
                       <div class="infobrand-txt">
                        <p style="text-align:justify"><span style="font-size:18px">Sự kết hợp của '<strong>R</strong>' và '<strong>B</strong>' viết tắt của thương hiệu thiết bị nhà bếp&nbsp;<strong>R</strong>ICH<strong>B</strong>ORN.&nbsp;Chữ màu trắng tượng trưng cho sự thịnh vượng, sự tinh khiết đến hoàn hảo. Nền màu đỏ tượng trưng cho quyền lực, năng lượng, sự may mắn đồng thời cũng giàu xúc cảm yêu thương.</span></p>

                        <p style="text-align:justify"><span style="font-size:18px">Sắp xếp bố cục logo&nbsp;<strong>"RB"</strong>&nbsp;thể hiện rõ quan điểm của sự gắn kết, tạo nên sức mạnh phi thường, chìa khóa của THÀNH CÔNG &amp; THINH VƯỢNG, cho cả hiện tại &amp; hướng tới tương lai với tất cả những ai sở hữu sản phẩm&nbsp;<strong>RICHBORN</strong>.</span></p>
                       
                       </div>
                    </div>
                </div>

            </div>
           
            <div class="c20 hide-on-mobile"></div>
            <div class="c30"></div>
            <div class="c20 hide-on-mobile"></div>
        </div>
    </div>
    <!-- footer -->
    <footer class="footer">
     <div class="c30"></div>
      <div class="footer-main">
        <div class="grid">
          <div class="flex-container text-center">
              <div class="cell-1-1">
                <div class="logo-footer">
                  <img src="/uploaded/images/Logo web/RB_logo-ENG.png" alt="">
                </div>
              </div>
              <div class="cell-1-1">
                <div class="content-f"><p>&nbsp;</p>

                  <p><span style="color:#000000"><span style="font-size:20px"><strong>RICHBORN VIETNAM</strong></span></span></p>
                  
                  <p><span style="color:#000000"><span style="font-size:18px"><strong>HEAD OFFICE:</strong>&nbsp;77/264/21 Âu Cơ, P. Nhật Tân, Q. Tây Hồ, Hà Nội</span></span></p>
                  
                  <p><span style="color:#000000"><span style="font-size:18px"><strong>BRANCH:&nbsp;</strong>232/12 Bình Lợi, P.13, Q. Bình Thạnh, HCM</span></span></p>
                  
                  <p><span style="color:#000000"><span style="font-size:18px"><strong>EMAIL:</strong> info@richborn.vn&nbsp;</span></span></p>
                  
                  <p><span style="line-height:1"><span style="color:#000000"><span style="font-size:18px"><strong>HOTLINE:</strong> 1900 8129</span></span></span></p>
                  
                  <div><span style="color:#000000"><em><span style="line-height:1"><span style="font-size:18px">(Sáng 8:00 - 12:00 / Chiều: 1:30 - 5:30 </span></span></em><em><span style="line-height:1"><span style="font-size:18px">từ Thứ Hai đến Thứ Bảy)</span></span></em></span></div>
                  
                  <p>&nbsp;</p>
                  
                  <p>&nbsp;</p>
                  
                  <p><span style="color:#000000"><span style="font-size:20px"><strong>KOWON CORP &nbsp;고원그룹</strong></span></span></p>
                  
                  <p><span style="color:#000000"><span style="font-size:18px"><strong>ADD:</strong> (06651) 1230-ho, LG Seocho Eclat, 71, Banpo-daero 14-gil, Seocho-gu, Seoul, Republic of Korea</span></span></p>
                  
                  <p><span style="color:#000000"><span style="font-size:18px"><strong>TEL:</strong> 02-598-3191-2 |&nbsp;<strong>FAX:</strong> 02-598-3193</span></span></p>
                  
                  <p><span style="color:#000000"><span style="font-size:18px"><strong>EMAIL:</strong> info@richborn-home.com&nbsp;</span></span></p>
                  </div>
              </div>
              <div class="c30"></div>
            
          </div>
          
        <div class="footer-copyright">
          <div class="grid text-center">
            Copyright 2024 © Richborn Vietnam. All Rights Reserved.
          </div>
        </div>
        <ul class="footer-social">
            
          <li class="facebook  hvr-float">
            <a href="#" class="footer-social__item">
              <img src="/uploaded/images/social/fb.png" alt="">
            </a>
          </li>
          <li class="youtube  hvr-float">
            <a href="#" class="footer-social__item">
              <img src="/uploaded/images/WHY US/youtube.png" alt="">
            </a>
          </li>
          <li class="gmail  hvr-float">
            <a href="#" class="footer-social__item">
              <img src="/uploaded/images/WHY US/mail.png" alt="">
            </a>
          </li>
         
          <li class="instagram  hvr-float">
            <a href="" class="footer-social__item">
              <img src="/uploaded/images/social/ins.png" alt="">
            </a>
          </li>
         
        </ul>
           
        </div>
      </div>

     
    </footer>
    <!-- end footer -->
</div>


  <script src="/js/jquery.fancybox.js"></script>
 
  
  <script src="/js/script.js"></script>

  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/jquery.form.min.js"></script>
  <script src="/js/jquery.mmenu.min.all.js"></script>
  <script src="/js/wow.min.js"></script>
  <script>
    new WOW().init();
  </script>
</body>

</html>
