<!doctype html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml"  xml:lang="vi">


    <head>
        <meta charset="utf-8" />
        <title>Page-name</title>
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
        <meta name="theme-color" content="#0099ff" />

        <meta http-equiv="Content-Language" content="VN" />
        <meta name="description" content="Page-name" />
        <meta name="keywords" content="" />
        <meta property="og:url" name="og:url" content="" data-app/>
        <meta property="og:type" name="og:type" content="website" data-app/>
        <meta property="og:description" name="og:description" content="Page-name" data-app/>
        <meta property="og:title" name="og:title" content="Page-name" data-app/>

        <meta property="og:image" name="og:image" content="/uploaded/logo/logo.png" data-app>
        <meta property="og:image:alt" name="og:image:alt" content="/uploaded/logo/logo.png" data-app>
        <link href="/favicon.ico" rel="shortcut icon" />        

     
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/hover.css" />

        <link rel="stylesheet" type="text/css" href="/css/grid.css" />
        <link rel="stylesheet" type="text/css" href="/css/responsive.css" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.2/css/swiper.min.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="/css/fontawesome-5.12.1/css/all.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/jquery.mmenu.all.css" />
        <link rel="stylesheet" href="/css/jquery-ui.css" />
        <link rel="stylesheet" href="/css/animate.css" />

        <link rel="stylesheet" href="/css/jquery.fancybox.css" />
        <link rel="stylesheet" href="/css/hover.css" />
        <script src="/js/jquery-1.10.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.2/js/swiper.min.js"></script>

        

        

    </head>    


<body>



<div id="page">


    <!-- header pc -->
  
    <header class="header hide-on-pad hide-on-tab">
      <div class="topheader">
        <div class="grid">
          <div class="flex-container">
              <div class="cell-1-3 d-flex flex-flex-start">
                <ul class="topleft_menu">
                  <li>
                      <a href="/tuyen-dung/">
                          Giới thiệu
                      </a>
                  </li>
                  <li>
                      <a href="/doi-tac/">
                          Tin tức
                      </a>
                  </li>
                  <li>
                      <a href="/video/">
                          Video
                      </a>
                  </li>
                
                </ul>
              </div>
              <div class="cell-1-3 tab-cell-1-1">
                <div class="d-flex flex-flex-end align-center">
                  <ul class="topright_menu">
                    <li>
                        <a href="/tuyen-dung/">
                            Liên hệ
                        </a>
                    </li>
                    </ul>
                    <div class="top-hotline">
                      <a href="tel: 1900 8129">  1900 8129</a>
                    </div>
                    <div class="lang">
                      <a href="#" class="vi"></a>
                      <a href="#" class="en"></a>
                    </div>
                    <form id="searchform" method="get" action="/search/" class="header__search"> 
                      <div class="header__search-input-wrap">
                          <input class="header__search-input keysearch" type="text" name="qr" placeholder="Tìm kiếm" autocomplete="off">
                              <ul class="searchresult" style="display: none;"></ul>
                      </div>
                      <a class="btn-search" onclick="$('#searchform').submit(); return false;" href="#">
                          <i class="fa fa-search" aria-hidden="true"></i>
                      </a>
                  </form>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="grid">
        
        <div class="flex-container flex-centered">
          <div class="cell-1-1">
            <div class="logo">
              <a href="/">
                <img src="/uploaded/images/Logo web/RB_logo-ENG.png" alt="LogoSite"></a>
            </div>
          </div>
           <div class="cell-1-1">
            <div class="menubar">
               <ul class="nav  hide-on-mobile">
                  <li class=" active ">
                    <a href="/" class=""><span style="background-image:url()"> Sản phẩm      </span> </a>
                    <ul class="mega-menu">
                      <div class="c20"></div>
                      <div class="grid">
                        
                       <div class="d-flex">
                        <div class="cell-1-4"> 
                          <div class="mega-menu-item">
                            <a class="mega-menu-item-link" href="/ve-chung-toi/">Về chúng tôi</a>
                          </div>
                        </div>
                        <div class="cell-1-4"> 
                          <div class="mega-menu-item"> 
        
                            <a class="mega-menu-item-link" href="/tam-nhin-su-menh/">Tầm nhìn sứ mệnh</a>
                          </div>
                        </div>
                        <div class="cell-1-4"> 
                          <div class="mega-menu-item"> 
    
                            <a class="mega-menu-item-link" href="/gia-tri-cot-loi/">Giá trị cốt lõi</a>
                          </div>
                        </div>
                        <div class="cell-1-4"> 
                          <div class="mega-menu-item"> 
                            <a class="mega-menu-item-link" href="/co-cau-to-chuc/">Cơ cấu tổ chức</a>
                          </div>
                        </div>
                        <div class="cell-1-4"> 
                          <div class="mega-menu-item"> 
          
                            <a class="mega-menu-item-link" href="/chung-nhan-giai-thuong/">Chứng nhận & Giải thưởng</a>
                          </div>
                        </div>
                        <div class="cell-1-4"> 
                          <div class="mega-menu-item"> 
                            
                            <a class="mega-menu-item-link" href="/tai-sao-nen-chon-chung-toi-1/">Tại sao nên chọn chúng tôi </a>
                          </div>
                        </div>
                      </div>
                      
                      </div>
                      
                    </ul>
                
                
                  </li>
                  <li class=" ">
                    <a href="/" class="">
                      <span style="background-image:url()">Hỗ trợ khách hàng</span>
                    </a>
                      
                  </li>
                  <li class=" ">
                    <a href="/" class=""><span style="background-image:url()">Hệ thống đại lý   </span> </a>
                  </li>
                 
              </ul>
             
           </div>
          </div>
        </div>
      <div class="c"></div>
    </header>
    <!-- end header pc -->
    
    <!-- content -->
    <div class="content">
      
      <!-- slideshow -->
      <div class="swiper-container" id="slide_home">
    
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="slidehome">
              <img class="hide-on-mobile" src="/uploaded/images/Banner/banner 25.jpg" alt="" style="width: 100%" />
              
            </div>
        </div>
        
      
      </div>

      </div>
      <script>
        $(function () {
          var swiper_slide_home = new Swiper("#slide_home", {
            loop: true,
            slidesPerView: 1,
            autoHeight:true,
            autoplay: {
              simulateTouch: true,
              delay: 5000000,
              disableOnInteraction: false,
            },
            spaceBetween: 0,
            // navigation: {
            //   nextEl: ".swiper-button-next",
            //   prevEl: ".swiper-button-prev",
            // },
            pagination: {
              el: ".swiper-pagination",
              clickable: true,
            },
            speed: 500,
            spaceBetween: 0,
          });

          $("#slide_home").on("mouseover", function () {
            swiper_slide_home.autoplay.stop();
          });
          $("#slide_home").on("mouseout", function () {
            swiper_slide_home.autoplay.start();
          });
        });
      </script>
      <!-- end slideshow -->

     <div class="homewhyus-wrapper">  
        <div class="c30"></div>
        <div class="c20 hide-on-mobile"></div>
          <div class="grid">
              <div class="flex-container">
                <div class="cell-news-1-4 tab-cell-1-1 whyus-item d-flex align-center">
                      <div class="whyus-img">
                          <img src="/uploaded/images/WHY US/tư vấn (1).png" alt="">
                      </div>
                      <div class="whyus-name">
                          Tư vấn thiết kế
                      </div>
                </div>
                <div class="cell-news-1-4 tab-cell-1-1 whyus-item d-flex align-center">
                  <div class="whyus-img">
                      <img src="/uploaded/images/WHY US/tư vấn (1).png" alt="">
                  </div>
                  <div class="whyus-name">
                      Tư vấn thiết kế
                  </div>
                </div>
                <div class="cell-news-1-4 tab-cell-1-1 whyus-item d-flex align-center">
                  <div class="whyus-img">
                      <img src="/uploaded/images/WHY US/tư vấn (1).png" alt="">
                  </div>
                  <div class="whyus-name">
                      Tư vấn thiết kế
                  </div>
                </div>
                <div class="cell-news-1-4 tab-cell-1-1 whyus-item d-flex align-center">
                  <div class="whyus-img">
                      <img src="/uploaded/images/WHY US/tư vấn (1).png" alt="">
                  </div>
                  <div class="whyus-name">
                      Tư vấn thiết kế
                  </div>
                </div>
            </div>
        </div>

       
          <div class="c20 hide-on-mobile"></div>
     </div>
    <div class="homecat-product">
    <div class="c30"></div>
    <div class="c20 hide-on-mobile"></div>
      <div class="grid">
          <div class="homecat-title">
              Danh mục sản phẩm
          </div>
          <div class="c30"></div>
          <div class="swiper-container slider-catproduct">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="catproduct-item">
                  <a href="#" class="">
                    <img src="/uploaded/images/avt%20sản%20phẩm%20(png)/may%20rua%20bat.png" alt="">
                  </a>
                  <div class="catproduct-content">
                    <h2 class="catproduct-name"> 
                      <a href="#" class="text-line-2">
                          Máy rửa bát
                      </a>
                      
                    </h2>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="catproduct-item">
                  <a href="#" class="">
                    <img src="/uploaded/images/avt sản phẩm (png)/bep tu.png" alt="">
                  </a>
                  <div class="catproduct-content">
                    <h2 class="catproduct-name"> 
                      <a href="#" class="text-line-2">
                          Bếp điện từ
                      </a>
                      
                    </h2>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="catproduct-item">
                  <a href="#" class="">
                    <img src="/uploaded/images/avt%20sản%20phẩm%20(png)/may%20rua%20bat.png" alt="">
                  </a>
                  <div class="catproduct-content">
                    <h2 class="catproduct-name"> 
                      <a href="#" class="text-line-2">
                          Máy rửa bát
                      </a>
                      
                    </h2>
                  </div>
                </div>
              </div>

            </div>
            <div class="slide-btn-next catproduct-button-next"><i class="fas fa-caret-right"></i></div>
            <div class="slide-btn-prev catproduct-button-prev"><i class="fas fa-caret-left"></i></div>
          </div>
          
          <div class="c30"></div>
          <script>
            $(function () {
              var slideproduct = new Swiper(".slider-catproduct", {
              loop: true,
              spaceBetween: 20,
              autoplay:true,
              pagination: {
                clickable: true,
              },
              navigation: {
                      nextEl: '.catproduct-button-next',
                      prevEl: '.catproduct-button-prev'
                  },
              breakpoints: {
                    // when window width is >= 320px
                    320: {
                      slidesPerView: 1,
                      spaceBetween: 20
                    },
                    // when window width is >= 480px
                    768: {
                      slidesPerView: 2.5,
                      spaceBetween: 30
                    },
                    // when window width is >= 640px
                    1040: {
                      slidesPerView: 3,
                      spaceBetween: 40
                    },
                    1600: {
                      slidesPerView: 6,
                      spaceBetween: 20
                    }
                  }
                })
            });
          </script>
      </div>
  
    </div>
    <div class="homeproduct-wrapper">
        <div class="c30"></div>
        <div class="c20 hide-on-mobile"> </div>
          <div class="grid">
            <div class="homecat-title">
                Sản phẩm nổi bật
            </div>
            <div class="c30"></div>
            <div class="c20 hide-on-mobile"></div>
              <div class="flex-container flex-centered ">
                <div class="cell-4-5 homeproduct">
                  <div class="swiper-container" id="slide-homeproduct">
    
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <div class="slidehomeproduct">
                          <div class="scale-img">
                            <img class="" src="/uploaded/images/Banner/banner 13.jpg" alt="" style="width: 100%" />
                            <div class="homeproduct-link">
                                <a href="#">Xem thêm <span>&#8640;</span></a>
                            </div>
                          </div>
                            <div class="c10"></div>
                            <div class="homeproduct-name">
                              <a href="#"> Máy Rửa Bát RICHBORN RDG6080SQG </a>
                            </div>
                            
                        </div>
                        <div class="c30"></div>
                      </div>
                      
                      <div class="swiper-slide">
                        <div class="slidehomeproduct">
                          <div class="scale-img">
                            <img class="" src="/uploaded/images/Banner/banner 13.jpg" alt="" style="width: 100%" />
                            <div class="homeproduct-link">
                                <a href="#">Xem thêm <span>&#8640;</span></a>
                            </div>
                          </div>
                            <div class="c10"></div>
                            <div class="homeproduct-name">
                              <a href="#"> Bếp  từ đôi RICHBORN  </a>
                            </div>
                            
                        </div>
                        <div class="c30"></div>
                      </div>
                      
                  
                  </div>
                 
                  </div>
                  <div class="slide-btn-next slide-product-next">
                    <img src="/images/c2_next.png" alt="">
                  </div>
                  <div class="slide-btn-prev slide-product-prev">
                    <img src="/images/c2_prev.png" alt="">
                  </div>
                  <script>
                    $(function () {
                      var swiper_slideproduct_home = new Swiper("#slide-homeproduct", {
                        loop: true,
                        slidesPerView: 1,
                        autoHeight:true,
                        autoplay: {
                          simulateTouch: true,
                          delay: 5000000,
                          disableOnInteraction: false,
                        },
                        spaceBetween: 0,
                        navigation: {
                          nextEl: ".slide-btn-next",
                          prevEl: ".slide-btn-prev",
                        },
                        pagination: {
                          el: ".slide-pagination",
                          clickable: true,
                        },
                        speed: 500,
                        spaceBetween: 0,
                      });
            
                      $("#slide-homeproduct").on("mouseover", function () {
                        swiper_slide-homeproduct.autoplay.stop();
                      });
                      $("#slide-homeproduct").on("mouseout", function () {
                        swiper_slide-homeproduct.autoplay.start();
                      });
                    });
                  </script>
                </div>
              </div>
          </div>
        </div>
        <div class="c30"></div>
        <div class="c20 hide-on-mobile">
    </div>
    <div class="homevideo-wrapper">
      <div class="c30"></div>
      <div class="c20 hide-on-mobile"> </div>
        <div class="grid">
          <div class="homecat-title">
              Video
          </div>
          <div class="c30"></div>
          <div class="c20 hide-on-mobile"></div>
            <div class="flex-container flex-centered ">
              <div class="cell-5-10 tab-cell-1-1 homevideo">
                <div class="swiper-container" id="slide-video">
  
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="slidevideo-item">
                        <img class="" src="https://img.youtube.com/vi/qbW07LcNeNg/hqdefault.jpg" alt="" style="width: 100%" />
                        <div class="video_item_play">
                          <a data-fancybox="" class="fancybox__link" href="https://www.youtube.com/watch?v=fUHmcRTI6tM">
                              <i class="fas fa-play"></i>
                          </a>
                        </div>
                      <div class="c10"></div>
                      <div class="homevideo-name">
                        <a href="#"> Máy rửa bát RICHBORN thế hệ mới  </a>
                      </div>
                    </div>
        
                   </div>
                   <div class="swiper-slide">
                    <div class="slidevideo-item">
                      <img class="" src="https://img.youtube.com/vi/qbW07LcNeNg/hqdefault.jpg" alt="" style="width: 100%" />
                      <div class="video_item_play">
                        <a data-fancybox="" class="fancybox__link" href="https://www.youtube.com/watch?v=fUHmcRTI6tM">
                            <i class="fas fa-play"></i>
                        </a>
                      </div>
                    <div class="c10"></div>
                    <div class="homevideo-name">
                      <a href="#"> Máy rửa bát RICHBORN thế hệ mới  </a>
                    </div>
                  </div>
      
                 </div>
                 <div class="swiper-slide">
                  <div class="slidevideo-item">
                    <img class="" src="https://img.youtube.com/vi/qbW07LcNeNg/hqdefault.jpg" alt="" style="width: 100%" />
                    <div class="video_item_play">
                      <a data-fancybox="" class="fancybox__link" href="https://www.youtube.com/watch?v=fUHmcRTI6tM">
                          <i class="fas fa-play"></i>
                      </a>
                    </div>
                  <div class="c10"></div>
                  <div class="homevideo-name">
                    <a href="#"> Máy rửa bát RICHBORN thế hệ mới  </a>
                  </div>
                </div>
    
               </div>
               
                </div>
                <div class="slidehomevideo-pagination"></div>
                <script>
                  $(function () {
                    var swiper_video_home = new Swiper("#slide-video", {
                      loop: true,
                      slidesPerView: 1,
                      autoHeight:true,
                      autoplay: {
                        simulateTouch: true,
                        delay: 5000000,
                        disableOnInteraction: false,
                      },
                      spaceBetween: 0,
                      navigation: {
                        nextEl: ".slide-btn-next",
                        prevEl: ".slide-btn-prev",
                      },
                      pagination: {
                        el: ".slidehomevideo-pagination",
                        clickable: true,
                      },
                      speed: 500,
                      spaceBetween: 0,
                    });
          
                    $("#slide_home").on("mouseover", function () {
                      swiper_slide_home.autoplay.stop();
                    });
                    $("#slide_home").on("mouseout", function () {
                      swiper_slide_home.autoplay.start();
                    });
                  });
                </script>
              </div>
            </div>
        </div>
      </div>
      <div class="c30"></div>
      <div class="c20 hide-on-mobile"> </div>
    </div>
    <!-- end content -->
    <div class="homenews-wrapper">
      
      <div class="c20 hide-on-mobile"></div>
      <div class="c30"></div>
          <div class="grid">
            <div class="home-title">
              Tin tức - sự kiện
            </div>
            <div class="c30"></div>
             <div class="homenews">
              <div class="swiper-container slider-homenews">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="homenews-item">
                      <div class="createdate">
                        <div class="homnews-date">
                            13
                        </div>
                        <div class="homnews-month">
                          12/2023
                        </div>
                      </div>
                      <a href="#" class="">
                        <img src="/uploaded/images/TT-SK_Photos/xep-bat-4.jpg" alt="">
                      </a>
                      <div class="homenews-content">
                        <h2 class="homenews-name"> 
                          <a href="#" class="text-line-2">
                            Vệ sinh máy rửa bát đúng cách
                          </a>
                          
                        </h2>
                      </div>
                      <div class="customer__xemthem">Xem thêm</div>
                    </div>
                  </div>
                  
                  <div class="swiper-slide">
                    <div class="homenews-item">
                      <div class="createdate">
                        <div class="homnews-date">
                            13
                        </div>
                        <div class="homnews-month">
                          12/2023
                        </div>
                      </div>
                      <a href="#" class="">
                        <img src="/uploaded/images/TT-SK_Photos/xep-bat-4.jpg" alt="">
                      </a>
                      <div class="homenews-content">
                        <h2 class="homenews-name"> 
                          <a href="#" class="text-line-2">
                            Vệ sinh máy rửa bát đúng cách
                          </a>
                          
                        </h2>
                      </div>
                      <div class="customer__xemthem">Xem thêm</div>
                    </div>
                  </div>
                  
                  <div class="swiper-slide">
                    <div class="homenews-item">
                      <div class="createdate">
                        <div class="homnews-date">
                            13
                        </div>
                        <div class="homnews-month">
                          12/2023
                        </div>
                      </div>
                      <a href="#" class="">
                        <img src="/uploaded/images/TT-SK_Photos/xep-bat-4.jpg" alt="">
                      </a>
                      <div class="homenews-content">
                        <h2 class="homenews-name"> 
                          <a href="#" class="text-line-2">
                            Vệ sinh máy rửa bát đúng cách
                          </a>
                          
                        </h2>
                      </div>
                      <div class="customer__xemthem">Xem thêm</div>
                    </div>
                  </div>
                  
                  <div class="swiper-slide">
                    <div class="homenews-item">
                      <div class="createdate">
                        <div class="homnews-date">
                            13
                        </div>
                        <div class="homnews-month">
                          12/2023
                        </div>
                      </div>
                      <a href="#" class="">
                        <img src="/uploaded/images/TT-SK_Photos/xep-bat-4.jpg" alt="">
                      </a>
                      <div class="homenews-content">
                        <h2 class="homenews-name"> 
                          <a href="#" class="text-line-2">
                            Vệ sinh máy rửa bát đúng cách
                          </a>
                          
                        </h2>
                      </div>
                      <div class="customer__xemthem">Xem thêm</div>
                    </div>
                  </div>
                  
                  
                </div>
              
              </div>
              
             </div>
          </div>
          <div class="c30"></div>
          <div class="c20 hide-on-mobile"></div>
      <script>
        $(function () {
          var slideproduct = new Swiper(".slider-homenews", {
      
          loop: true,
          
        
          spaceBetween: 20,
          autoplay:true,
          pagination: {
            
            clickable: true,
          },
          navigation: {
                  nextEl: '.homenews-button-next',
                  prevEl: '.homenews-button-prev'
              },
          breakpoints: {
                // when window width is >= 320px
                320: {
                  slidesPerView: 1,
                  spaceBetween: 20
                },
                // when window width is >= 480px
                768: {
                  slidesPerView: 2.5,
                  spaceBetween: 30
                },
                // when window width is >= 640px
                1040: {
                  slidesPerView: 3,
                  spaceBetween: 40
                },
                1600: {
                  slidesPerView: 3,
                  spaceBetween: 20
                }
              }
            })
        

        });
      </script>
    </div>
    
    

    

    </div>
    <!-- footer -->
    <footer class="footer">
     <div class="c30"></div>
      <div class="footer-main">
        <div class="grid">
          <div class="flex-container text-center">
              <div class="cell-1-1">
                <div class="logo-footer">
                  <img src="/uploaded/images/Logo web/RB_logo-ENG.png" alt="">
                </div>
              </div>
              <div class="cell-1-1">
                <div class="content-f"><p>&nbsp;</p>

                  <p><span style="color:#000000"><span style="font-size:20px"><strong>RICHBORN VIETNAM</strong></span></span></p>
                  
                  <p><span style="color:#000000"><span style="font-size:18px"><strong>HEAD OFFICE:</strong>&nbsp;77/264/21 Âu Cơ, P. Nhật Tân, Q. Tây Hồ, Hà Nội</span></span></p>
                  
                  <p><span style="color:#000000"><span style="font-size:18px"><strong>BRANCH:&nbsp;</strong>232/12 Bình Lợi, P.13, Q. Bình Thạnh, HCM</span></span></p>
                  
                  <p><span style="color:#000000"><span style="font-size:18px"><strong>EMAIL:</strong> info@richborn.vn&nbsp;</span></span></p>
                  
                  <p><span style="line-height:1"><span style="color:#000000"><span style="font-size:18px"><strong>HOTLINE:</strong> 1900 8129</span></span></span></p>
                  
                  <div><span style="color:#000000"><em><span style="line-height:1"><span style="font-size:18px">(Sáng 8:00 - 12:00 / Chiều: 1:30 - 5:30 </span></span></em><em><span style="line-height:1"><span style="font-size:18px">từ Thứ Hai đến Thứ Bảy)</span></span></em></span></div>
                  
                  <p>&nbsp;</p>
                  
                  <p>&nbsp;</p>
                  
                  <p><span style="color:#000000"><span style="font-size:20px"><strong>KOWON CORP &nbsp;고원그룹</strong></span></span></p>
                  
                  <p><span style="color:#000000"><span style="font-size:18px"><strong>ADD:</strong> (06651) 1230-ho, LG Seocho Eclat, 71, Banpo-daero 14-gil, Seocho-gu, Seoul, Republic of Korea</span></span></p>
                  
                  <p><span style="color:#000000"><span style="font-size:18px"><strong>TEL:</strong> 02-598-3191-2 |&nbsp;<strong>FAX:</strong> 02-598-3193</span></span></p>
                  
                  <p><span style="color:#000000"><span style="font-size:18px"><strong>EMAIL:</strong> info@richborn-home.com&nbsp;</span></span></p>
                  </div>
              </div>
              <div class="c30"></div>
            
          </div>
          
        <div class="footer-copyright">
          <div class="grid text-center">
            Copyright 2024 © Richborn Vietnam. All Rights Reserved.
          </div>
        </div>
        <ul class="footer-social">
            
          <li class="facebook  hvr-float">
            <a href="#" class="footer-social__item">
              <img src="/uploaded/images/social/fb.png" alt="">
            </a>
          </li>
          <li class="youtube  hvr-float">
            <a href="#" class="footer-social__item">
              <img src="/uploaded/images/WHY US/youtube.png" alt="">
            </a>
          </li>
          <li class="gmail  hvr-float">
            <a href="#" class="footer-social__item">
              <img src="/uploaded/images/WHY US/mail.png" alt="">
            </a>
          </li>
         
          <li class="instagram  hvr-float">
            <a href="" class="footer-social__item">
              <img src="/uploaded/images/social/ins.png" alt="">
            </a>
          </li>
         
        </ul>
           
        </div>
      </div>

     
    </footer>
    <!-- end footer -->
</div>


  <script src="/js/jquery.fancybox.js"></script>
 
  
  <script src="/js/script.js"></script>

  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/jquery.form.min.js"></script>
  <script src="/js/jquery.mmenu.min.all.js"></script>
  <script src="/js/wow.min.js"></script>
  <script>
    new WOW().init();
  </script>
</body>

</html>
